<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="www/galeria/logo.png" alt="">
                </a>
            </div>
            <div class="login-form border rounded" id="loginBlock">
                    <form id="login">
                        <div class="form-group">
                            <label>Usuário</label>
                            <input type="text" class="form-control" placeholder="Usuário" id="user">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" class="form-control" placeholder="Senha" id="pass">
                        </div>
                        <div id="retorno"></div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Lembre-me
                            </label>
                            <label class="pull-right">
                                <a href="#">Esqueceu a Senha?</a>
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Login</button>
                        <div class="register-link m-t-15 text-center">
                            <p>Não possui uma conta? <a href="#"> Registre-se Agora</a></p>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="www/templates/sufee_admin/js/plugins.js"></script>
<script src="www/templates/sufee_admin/js/main.js"></script>
<script src="www/lib/js/loginSystem.js"></script>


